
<%- include('partials/header'); %>
<% if(product.length>0){
    var i;
  
 for(i=0;i<=product.length;i++){%>
    <p><%=this.item.title%></p>
 <%}
}%>
        
   

    <%- include('partials/footer'); %>

 