<%- include('partials/header'); %>
<link rel="stylesheet"type="text/css" href="../stylesheets/landing.css">
<div id="header">
    <h1>welcome to OrganicStore</h1>
    <a href="/products" class="btn btn-primary">products</a>
    <hr>
</div>
<ul id="slideshow">
<li></li>
<li></li>
<li></li>

</ul>

<%- include('partials/footer'); %>
