@media (max-width: 992px){
    nav{
        color: white;
        padding: 0px;
    }
   
    .navbar .navbar-header {
        float: none;
      }
      .navbar .navbar-toggle {
        display: block;
      }
      .navbar .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar .navbar-nav {
        float: none!important;
      }
      .navbar .navbar-nav > li {
        float: none;
      }
      .navbar .navbar-collapse.collapse.in {
        display: block !important;
     
    }
   
     
}
.navbar{
    margin-bottom: 0px;
}

.carousel{
   top:0;
   height:600px;

}

.carousel-inner > .item > img {
    width:1500px;
    height: 600px;
}
.carousel-caption{
  padding-bottom: 70px;
}
.carousel-caption button{
    background-color: #0d6fb5;
}
.heading{
   
    text-align: center;
   
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding:0px;
}
.caption-full{
    padding:9px;
}

.formcenter form{
  width:30%;
  margin: 0 auto;
}
.fa-shopping-cart{
  color: yellow;
}
.heading{
  font-weight: 100;
font-size: 3rem;
}


#search {
  position: relative; 
 font-family: 'FontAwesome'  ;/* This is for the placeholder */
 font-weight: 900;
 font-size: normal;
 content: "\f007";
 left: -5px;
 margin-top: 10px;
 margin-left:150px ;
 border-radius: 25px;
 width: 80%;
}



